# R build artefacts
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Package build
*.tar.gz
*.zip
/doc/
/Meta/
/inst/doc/

# Tests
/tests/testthat/_snaps/

# Vignette intermediaries
vignettes/*.html
vignettes/*.pdf
vignettes/*_files/

# Misc
.DS_Store
Thumbs.db
